 .box1 {
            border: 5px solid teal;
            min-height: 100px;
            width:400px
        }
        
 .box2 {

            border: 5px solid teal;
            height: 100px;
            width:400px;
        }